@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animation-delay-0 {
    animation-delay: 0s;
  }
  
  .animation-delay-1 {
    animation-delay: 0.1s;
  }
  
  .animation-delay-2 {
    animation-delay: 0.2s;
  }
  
  .animation-delay-3 {
    animation-delay: 0.3s;
  }
}
